*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

html{
    overflow-y: scroll;
    scrollbar-width: none;  
}

body[class="day"]{
    background-color: rgba(213, 246, 235, .9);
}


body[class="night"]{
    background-color: #2a2a2a;
}

.nav
{
    top: 0;
    left: 0;    
    height: 8rem;
    width: 100%;
    display: inline-flex;
    position: fixed;
    border-bottom: 1px #2a2a2a solid;
    z-index:1; 
}

.nav button{
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    top: .1rem;
    position: fixed;
    z-index: 1;
    cursor: pointer;
}

.nav-button{
    left: .1rem;
    display: none;
}


.nav button[class="theme"]{
    top: .1rem;
    right: .2rem;
    display: block;
}

.nav-button img{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}


.day .nav{
    background: linear-gradient(90deg , #111111 1%,#81e4c4 );
}


.night .nav{
    background: linear-gradient(90deg ,#81e4c4 1%,  #111111 );
}

.nav #logo
{
    margin: .5rem;
    padding: .5rem;
    margin-left: 2rem;
    width: 7rem;
    height: 7rem;
    border-radius: 30%;
}

h1{
    margin: .5rem;
    padding: .5rem;
    align-self: center;
    font: 2em sans-serif;
}

.night h1{
    color: #111111;
}

.day h1{
    color: #81e4c4;
}

.menu{
    margin-right: 1rem;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.nav li, .nav a, .content a{
    display: inline;
    text-decoration: none;
    font: 1em  sans-serif ;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: 5%;
}
.nav a, .content a{
    border: 1px #2a2a2a solid;
}

.day .nav a, .night .content a{
    background-color: #111111;
    color: #81e4c4;
}


.night .nav a, .day .content a{
    background-color: #81e4c4;
    color: #111111;
}

.menu button{
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    margin: .5rem;
    padding: .1rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: block;
    position: fixed;
    visibility: visible;
}

.day .nav button{
background-color: #abedd8;
}


.night .nav button{
    background-color: #abedd8;
    }
    

.day .menu a:hover, .day .menu button:hover , .night .content a:hover{
    color: #111111;
    background-color: #81e4c4;
}


.night .menu a:hover, .night .menu button:hover, .day .content a:hover{
    color: #81e4c4;
    background-color: #111111;
}


 .theme img{
width: 100% ;
height: 100%;
margin: -.4rem;
}

main
{
    margin: 10rem  8rem;
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height:fit-content;
    width: 90%;
    -ms-overflow-style: none;
    scrollbar-width: none;  

}

.home{
    display: flex;
    width: 100%;
    min-height: 35rem;
    position: relative;
    border-radius: 1%;
}

.night .home{
    background-color: #abedd8;
}

.day .home
{
    background-color: #2a2a2a;
}

.home .image, .image img{
    margin: .5rem;
    padding: .5rem;
    width: 30rem;
    height: 25rem;
    position: relative;
    margin: auto;
}

.home .content{
    margin: 5rem;
    padding: .5rem;
}

.home .content h1{
    font-weight: bolder;
}
.content .tagline{
    font: .8em sans-serif;
    font-weight: 1 ; 
    padding-left: 3rem;
    margin-top: -.3rem;
    padding-top: 0;
}


.content .desc{
    font: 1.1em sans-serif;
    margin: .3rem;
    padding: .3rem;
    font-weight: normal; 

}

.day .content .desc,.day .content .tagline{
    color: #abedd8;
}

main .about{
    display: inline-flex;
    margin: 1rem;
    padding: 1rem;
}

main .about div h3, main .about div p{
    margin: 1rem;
    padding: .5rem;
}

main .about div{
    margin: 1rem;
    border: #2a2a2a 0.5px solid;
    border-radius: 5%;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}

.night main .about div{
    background:color-mix(in srgb, transparent 50%, #81e4c4 50%) ;
}

.night main .about div:hover{
    background: #81e4c4  ;
}


.day main .about div{
    background:color-mix(in srgb, transparent 50%, #111111 50%) ;
}

.day main .about div:hover{
    background: #2a2a2a;
    color: #81e4c4;
}


main .about div img{
    width: 3rem;
    height: 3rem;
    margin: 1rem;

}


main .signup {

    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 1rem 0 1rem -1rem;
}

.night main .signup h1{
    color: #81e4c4;
}

.day main .signup h1{
    color: #2a2a2a;
}

main .signup input {
    background-color: transparent;
    border: 1px #abedd8 thin;
    border-radius: 25px; 
    margin: 1rem;
    padding: 0.5rem;
    height: 10%;
    width: 50%;
}

.night main .signup input {
    color: #81e4c4;;
}

.day main .signup input {
    color: #111111;
}

main .signup button {
    border-radius: 10%;
    cursor: pointer;
    width: 5rem;
    height: 10%;
    margin: 1rem;
    padding: .5rem;
}

.night main .signup button {
    background-color: #81e4c4;
    border: 1px #abedd8 thin;
    color: #111111;
}



.night main .signup button:hover {
    background-color: #111111;
    border: 1px #2a2a2a thin;
    color: #81e4c4;

}


.day main .signup button:hover {
    background-color: #81e4c4;
    border: 1px #abedd8 thin;
    color: #111111;
}



.day main .signup button {
    background-color: #111111;
    border: 1px #2a2a2a thin;
    color: #81e4c4;

}

main .contact{
    width: 100%;
    padding: 1rem;
    margin: auto;
}

.night main .contact{
    background-color: #81e4c4;
    color: #2a2a2a;
}

.day main .contact{
    color: #81e4c4;
    background-color: #2a2a2a;
}


footer{
    background-color: #2a2a2a;
    color: white;
    font: .85rem sans-serif;
    position: fixed;
    overflow: hidden;
    align-items: center;
    bottom: 0;
    right: 0%;
    margin: 0 auto;
}

footer a{
    cursor: pointer;
    background-color: #2a2a2a;
    color: lightskyblue;
}

@media (max-width: 1200px) and (min-width: 866px) {
    html{
        overflow-y: scroll;
        scrollbar-width: none; 
        font-size: small;
    }
    .nav{
        top: 0;
        left: 0;
        position: fixed;   
        z-index:1; 

    }
    .nav li, .nav a{
        display: inline-flex;
        width: 5rem;
        height: 2.5rem;
    }

    .nav li{
        margin: -.5rem;
        padding: .4rem;
        font: .7em sans-serif;
    }

    .menu{
        display: flex;
        visibility: visible;

    }
    
    main{
        position: relative;    
        display: block;
        overflow-y: scroll;
        margin: 9rem  3rem;
    }



    .home{
        display: block;
        width: 100%;
        min-height: 50rem;
        position: relative;
        border-radius: 1%;
    }
    
    .home .image, .image img{
        width: 20rem;
        height: 15rem;
    }
}

@media (max-width: 866px) {
    html{
        overflow-y: scroll;
        scrollbar-width: none;  
    }

    .nav{
        height: 7rem;
        width: 100%;
        display: flex;
        position: fixed;    
        align-content: center;

    }


    
    .nav #logo
    {
        width: 6.5rem;
        height: 6.5rem;
    }

    
    h1{
    padding: .5rem;
    display: inline;
    font: 1.1em sans-serif;
    }

    .nav h1{
        font: 2em sans-serif;
    }


    .nav li{
        margin: 0;
        text-align: center;
        padding-left: 0rem;
    }

    .nav a{
        margin: 0;
        width: 8rem;
    }
    

    .nav button{
        margin: .1rem;
    }

    .menu{
        margin-top: 3rem;
        visibility: hidden;
    }

    .nav a{
        margin-top: 1rem;
    }


    .nav li, .nav a, .content a{
        display: block;
        text-decoration: none;
        font: .9em  sans-serif ;
        height: 2.5rem;
    }


    main{
        width: 100%;
        position: relative;
        margin: 1rem  0.2rem 1rem 0;
        font: .9em sans-serif;
        margin-top: 7.5rem;
    }

    .content{
        font: .8em sans-serif;
    }

    .content .tagline{
        padding-left: 2rem;
        margin-top: 0rem;
        padding-top: 0;
    }
    
    .home{
        display: block;
    }

    .home .image, .image img{
        width: 20rem;
        height: 15rem;
    }

    
    .content a{
        align-self: center;
        width: 4rem;
        height: 2rem;
    }

    
main .about{
    display: block;
}

main .about div{
    border-radius: 1%;
}

.nav-button{
    display: block;
}

}