*{
    box-sizing: border-box;
    scroll-behavior: smooth;

}

html{
    overflow-y: scroll;
    scrollbar-width: none;  
}

body[class="day"]{
    background-color: rgba(213, 246, 235, .9);
}


body[class="night"]{
    background-color: #2a2a2a;
}


.nav
{
    top: 0;
    left: 0;    
    height: 8rem;
    width: 100%;
    display: inline-flex;
    position: fixed;
    border-bottom: 1px #2a2a2a solid;
    z-index:1; 
}

.day .nav{
    background: linear-gradient(90deg , #111111 1%,#81e4c4 );
}


.night .nav{
    background: linear-gradient(90deg ,#81e4c4 1%,  #111111 );
}

.nav #logo
{
    margin: .5rem;
    padding: .5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 30%;
}

h1{
    margin: .5rem;
    padding: .5rem;
    align-self: center;
    font: 2em sans-serif;
}

.night h1{
    color: #111111;
}

.day h1{
    color: #81e4c4;
}

.menu{
    margin-right: 1rem;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.nav li, .nav a, .content a{
    display: inline;
    text-decoration: none;
    font: 1em  sans-serif ;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: 5%;
}
.nav a, .content a{
    border: 1px #2a2a2a solid;
}

.day .nav a, .night .content a{
    background-color: #111111;
    color: #81e4c4;
}


.night .nav a, .day .content a{
    background-color: #81e4c4;
    color: #111111;
}

.nav button{
    width: 2rem;
    height: 2rem;
    border-radius: 20%;
    margin: .5rem;
    padding: .1rem;
    cursor: pointer;
}

.day .nav button{
background-color: #111111;
}


.night .nav button{
    background-color: #81e4c4;
    }
    

.day .menu a:hover, .day .menu button:hover , .night .content a:hover{
    color: #111111;
    background-color: #81e4c4;
}


.night .menu a:hover, .night .menu button:hover, .day .content a:hover{
    color: #81e4c4;
    background-color: #111111;
}


 .theme img{
width: 100% ;
height: 100%;
margin: -.4rem;
}

main
{
    margin: 10rem  8rem;
    display: flex;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: max-content;
    width: 80vmax;
    -ms-overflow-style: none;
    scrollbar-width: none;  

}

.home{
    display: flex;
    width: 100%;
    min-height: 35rem;
    position: relative;
    border-radius: 1%;
}

.night .home{
    background-color: #abedd8;
}

.day .home
{
    background-color: #111111;
}

.home .image, .image img{
    margin: .5rem;
    padding: .5rem;
    width: 30rem;
    height: 25rem;
    position: relative;
    margin: auto;
}

.home .content{
    margin: 5rem;
    padding: .5rem;
}

.content .tagline{
    font: .6em sans-serif;
    padding-left: 3rem;
    margin-top: -.3rem;
    padding-top: 0;
}


.content .desc{
    font: 1em sans-serif;
    margin: .3rem;
    padding: .3rem;
}

.day .content .desc,.day .content .tagline{
    color: #abedd8;
}

footer{
    background-color: #2a2a2a;
    color: white;
    font: .85rem sans-serif;
    position: fixed;
    overflow: hidden;
    align-items: center;
    bottom: 0;
    right: 0%;
    margin: 0 auto;
}

footer a{
    cursor: pointer;
    background-color: #2a2a2a;
    color: lightskyblue;
}

@media (max-width: 1100px) and (min-width: 750px) {
    html{
        overflow-y: scroll;
        scrollbar-width: none;  
    }
    .nav{
        top: 0;
        left: 0;
        position: fixed;   
        z-index:1; 

    }
    .nav li, .nav a{
        display: inline-flex;
        width: 4rem;
        height: 2.5rem;
    }

    .nav li{
        margin: -.5rem;
        font: .7em sans-serif;
        text-align: justify;
    }

    
    
    main{
        position: relative;    
        display: block;
        overflow-y: scroll;
        margin: 9rem  3rem;
    }



    .home{
        display: block;
        width: 100%;
        min-height: 50rem;
        position: relative;
        border-radius: 1%;
    }
    
    .home .image, .image img{
        width: 20rem;
        height: 15rem;
    }
}

@media (max-width: 750px) {
    html{
        overflow-y: scroll;
        scrollbar-width: none;  
    }

    .nav{
        height: 50rem;
        width: 100%;
        display: block;
        position: relative;    
        align-content: center;

    }


    
    .nav #logo
    {

        margin: 5rem 8rem 1rem ;
        padding: .5rem;
        width: 10rem;
        height: 10rem;
        border-radius: 10%;
    }

    
    h1{
    padding: .5rem;
    display: inline;
    font: 1.5em sans-serif;
    }

    .nav h1{
        margin: 1rem 8rem;

    }


    .nav li,.nav a{
        margin: 0 1rem;
        width: 80%;
        text-align: center;
    }

    .menu{
        margin-top: 3rem;
    }

    .nav a{
        margin-top: 1rem   ;
    }


    .nav li, .nav a, .content a{
        display: block;
        text-decoration: none;
        font: .9em  sans-serif ;
        height: 2.5rem;
    }


    main{
        width: 100%;
        position: relative;
        margin: 1rem  0.2rem 1rem 0;
    }

    .home{
        display: block;
    }

    .home .image, .image img{
        width: 25rem;
        height: 20rem;
    }

    
    .content a{
        align-self: center;
        width: 7rem;
    }

}